.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px;
    background-color: #282A36;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #336DF5;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.flights-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.flights-table th, .flights-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.flights-table th {
    background-color: #f2f2f2;
}

.loading {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}